.title{
    text-align: center;
}


.header{
    background-color:#6326AD;
    height: 200px;
    display: flex;
    align-items: center;
}

.content{
    background-color:white;
    text-align: center;
    background-color: #8552A0;

}

.header_img{
    height: 60%;
    margin-left: 10%;
}
.header p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 250px;
}